{
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier"],
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "ignorePatterns": ["dist/", "stats/", "dist_dev/"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }]
  },
  "overrides": [
    {
      "files": ["**/*.{ts,tsx,js,jsx,mjs}"]
    }
  ]
}
