{
  "parser": "@typescript-eslint/parser",
  "extends": ["eslint:recommended", "prettier"],
  "ignorePatterns": ["dist/", "stats/", "dist_dev/"],
  "rules": {
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }]
  },
  "overrides": [
    {
      "files": ["**/*.{ts,tsx,js,jsx,mjs}"]
    }
  ],
  "env": {
    "browser": true
  },
  "root": true
}
